
/* --------- Features --------- */

.features .section-padding {
	padding-bottom: 0;
}
.features .item {
    clear: both;
    display: inline-block;
    overflow: visible;
    margin: 30px 0;
}
.features .item-icon {
	background: #e0d2a2;
	color: #333;
	font-size: 50px;
	height: 100px;
	line-height: 110px;
	overflow: visible;
	padding: 0;
	position: relative;
	width: 100px;
	text-align: center;
}
.features .item-icon:before {
	content: '';
	background: #f3efef;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: -1;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;		
}
.features .item:hover .item-icon:before {
	top: 0;
	right: 0;
}
.features .item-details {
	padding: 10px 0 0 25px;
}
.features .item-title {
	font-weight: 700;
	letter-spacing: 0.25px;
	padding-bottom: 20px;
}

/* -------- Other Banners -------- */

.other-banners {
	margin: 15px 0 0;
}
.banner-items {
	padding: 0 10px;
}
.other-banners .col-md-3 {
	padding: 0;
}
.other-banners .item {
	overflow: hidden;
	padding: 5px;
	position: relative;
	z-index: 0;
}
.other-banners .item:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-120%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-120%,0);
}
.other-banners .item:hover:before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,120%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,120%,0);
}
.other-banners .item-details {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}
.other-banners .item-details:before {
	content: '';
	background: rgba(255, 255, 255, 0.65);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0%;
	z-index: -1;
	opacity: 0;

	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;	
}
.other-banners .item:hover .item-details:before {
	opacity: 1;
}
.other-banners .item-title {
	border: 4px solid #fff;
	color: #333;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin: 0;
	padding: 17px 27px;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;

	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;		

	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);	
}
.other-banners .item:hover .item-title {
	opacity: 1;
}

/* ---------- Featured ----------- */

.featured .section-padding {
	padding-bottom: 170px;
}
.featured-navs {
	text-align: center;
}
.featured .nav-tabs {
	background: #fff;
	border: none;
	display: inline-block;
	margin-bottom: 100px;
	position: relative;
	text-align: center;
}
.featured .nav-tabs:before,
.featured .nav-tabs:after {
	content: '';
	background: #545454;
	height: 1px;
	width: 50px;
	top: 45%;
	position: absolute;
}
.featured .nav-tabs:before {
	left: -60px;
}
.featured .nav-tabs:after {
	right: -60px;
}
.featured .nav-tabs>li {
	border: none;
	display: inline-block;
	float: none;
	margin: 0;
	position: relative;
}
.featured .nav-tabs>li:before,
.featured .nav-tabs>li:after,
.featured .nav-tabs>li>a:before,
.featured .nav-tabs>li>a:after {
	background: #545454;
	position: absolute;
	top: -2px;
	width: 1px;
	height: 100%;

	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
}
.featured .nav-tabs>li:before {
	content: '';
	left: 0;
}
.featured .nav-tabs>li:after {
	content: '';
	right: 0;
}
.featured .nav-tabs>li>a:before {
	content: '';
	left: 5px;
}
.featured .nav-tabs>li>a:after {
	content: '';
	right: 5px;
}
.featured .nav-tabs>li:nth-child(odd):after,
.featured .nav-tabs>li:nth-child(odd)>a:after,
.featured .nav-tabs>li:nth-child(even):after,
.featured .nav-tabs>li:nth-child(even)>a:after {
	display: none;
}
.featured .nav-tabs>li:last-child:after,
.featured .nav-tabs>li:last-child>a:after {
	display: block;
}
.featured .nav-tabs>li>a {
	background: transparent;
	border: none;
	color: #a6a6a6;
	font-family: 'Poppins';
	font-size: 22px;
	font-weight: 600;
	padding: 3px 30px;
	position: relative;
	text-transform: uppercase;
}
.featured .nav-tabs>li>a:hover {
	background: transparent;
	border: none;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
	background: transparent;
	border: none;
	color: #333;
}
.featured .item {
	overflow: hidden;
}
.featured .item-thumbnail {
	position: relative;
	z-index: 0;
}
.featured .item-thumbnail:before {
	content: '';
	background: #f3efef;
	height: 83%;
	width: 74%;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: -1;
}
.featured .item-thumbnail img {
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-ms-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.featured .item-thumbnail:hover img {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
.featured .item-top {
	position: relative;
}
.featured .ribbon {
	top: 58px;
}
.featured .owl-buttons {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -25px;
}
.featured-slider .slick-arrow {
	top: 50%;
	margin-top: -50px;
}
.featured .slick-prev {
	left: -110px;
}
.featured .slick-next {
	right: -110px;
}
.featured .item-bottom {
	max-width: 74%;
	padding-top: 0;
	text-align: center;
}
.featured .add-to-cart {
	background: #fff;
	border: 3px solid #545454;
	color: #333;
	font-family: 'Poppins';
	font-size: 13px;
	font-weight: 700;
	max-height: 53px;
	padding: 15px 0;
	text-transform: uppercase;
	width: 100%;
}
.featured .add-to-cart:hover {
	background: #e0d2a2;
	border-color: #e0d2a2;
	color: #333;
}
.featured .add-to-cart i {
	font-size: 18px;
}
.featured .rating {
	color: #ffc051;
	font-size: 17px;
	margin: 15px 0 17px;
}
.featured .rating-symbol {
	margin: 0 2px;
}


/* -------- Trending -------- */

.trending .section-title {
	margin-bottom: -20px;
}
.trending .section-top:before,
.trending .section-top:after,
.trending .section-title span:before {
	content: '';
	display: none;
}
.trending-slider .item {
	overflow: hidden;
}
.trending-slider .item-thumbnail {
	overflow: hidden;
	position: relative;
	text-align: right;
	z-index: 0;
}
.trending-slider .item-thumbnail:before {
	content: '';
	background: #fff;
	height: 82%;
	width: 84%;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: -1;
}
.trending-slider .item:hover .item-inner {
	left: 15px;
}
.trending-slider .item-title {
	font-size: 18px;
	font-weight: 700;
}
.trending-slider .item-details {
	padding-top: 56px;
}
.trending-slider .rating {
	color: #ffc051;
	font-size: 17px;
}
.trending-slider .item-price {
	font-size: 27px;
	margin: 18px 0;
}
.trending-slider .currency {
	margin-right: -10px;
}
.trending-slider .description {
	padding: 5px 0 18px;
}
.trending-slider .btn {
	margin-top: 20px;
}
.trending-slider .owl-buttons {
	position: absolute;
	top: 0;
	right: 0;
}
.trending-slider .slick-arrow {
	top: -145px;
	right: 0;
}
.trending-slider .slick-prev {
	right: 60px;
}

/* -------- Clients -------- */

.clients-logo .section-padding {
	padding: 200px 0;
}



/* ---------- Responsive Styles ----------- */

@media screen and (max-width: 1366px) {
	.featured .slick-prev {
		left: -80px;
	}
	.featured .slick-next {
		right: -80px;
	}
}

@media screen and (max-width: 1280px) {
	.features .section-padding {
		padding: 140px 0 0;
	}
	.featured-slider .slick-arrow {
		top: -145px;
		margin-top: 0;
		right: 0;
	}
	.featured .slick-prev {
		right: 60px;
		left: initial;
	}
	.featured .slick-next {
		right: 0;
	}
	.clients-logo .section-padding {
		padding: 140px 0;
	}

}

@media screen and (max-width: 768px) {
	.featured .nav-tabs>li>a {
		padding: 3px 20px;
	}
	.features .item {
		padding: 0 15px;
	}
}

@media screen and (max-width: 767px) {
	.featured .nav-tabs>li>a {
		font-size: 20px;
		padding: 0 15px;
	}
	.trending-slider {
		padding-top: 40px;
	}
	.trending-slider .slick-arrow {
		top: -30px !important;
	}	
	.features .item {
		margin: 20px 0;
	}
	.features .section-padding {
		padding: 60px 0;
	}
	.clients-logo .section-padding {
		padding: 80px 0;
	}
}

@media screen and (max-width: 475px) {
	.features .item-icon {
		display: inline-block;
		float: none !important;
	}
	.features .item-details {
		display: inline-block;
		padding: 45px 0 0 !important;
		width: initial !important;
	}
}